<!-- templates/teacher_new.html -->
{% extends 'expenditure_register/base.html' %}

{% block content %}    
<br>
<h2> Στοιχεία Μητρώου Δέσμευσης </h2>
<fieldset> 
    <table class="table table-light table-striped">
        <thead>
        <tr>
            <th scope="col"> Στοιχεία </th>
            <th scope="col"> Δεδομένα </th>
        </tr>
        </thead>
        <tbody>
            <tr> 
                <td> Τύπος προϋπολογισμού </td> 
                <td> {{ object.budget_type }} </td>
            </tr>
            <tr> 
                <td> Οικονομικό Έτος </td> 
                <td> {{ object.year }} </td>
            </tr>
            <tr> 
                <td> Φορέας </td> 
                <td> {{ object.organization }} </td>
            </tr>
            <tr> 
                <td> Ειδικός Φορέας </td> 
                <td> {{ object.special_organization }} </td>
            </tr>
        </tbody>
    </table>
</fieldset>
<a href="{% url 'home' %}" class="btn btn-secondary"> Επιστροφή </a>
</div><br>
{% endblock content %}

{% comment %} <a href="{% url 'professor_contract_update' object.id %}" class="btn btn-warning"> Επεξεργασία </a>
<div class="float-right"> {% endcomment %}
    {% comment %} <a href = "{% url 'school_assignment_list_view' object.id %}" class="btn btn-primary"> Υπηρετήσεις </a> {% endcomment %}
