<!-- templates/teacher_new.html -->
{% extends 'expenditure_register/base.html' %}

{% block content %}    
<br>
<h2> Διαγραφή του μητρώου δεσμεύσεων: </h2>
<fieldset> 
    <table class="table table-light table-striped">
        <thead>
        <tr>
            <th scope="col"> Στοιχεία </th>
            <th scope="col"> Δεδομένα </th>
        </tr>
        </thead>
        <tbody>
            <tr> 
                <td> Τιμολόγιο  </td> 
                <td> {{ object.invoice }} </td>
            </tr>
            <tr> 
                <td> Διαχείριση πληρωμής τιμολογίου ή ισοδύναμου εγγράφου </td> 
                <td> {{ object.payment_type_choice }} </td>
            </tr>
            <tr> 
                <td> Αριθμός παραστατικού </td> 
                <td> {{ object.number }} </td>
            </tr>
            <tr> 
                <td> Είδος παραστατικού </td> 
                <td> {{ object.document_type }} </td>
            </tr>
            <tr> 
                <td> Ημερομηνία παραστατικού (Απόρριψη/Ακύρωση/Εξόφληση) </td> 
                <td> {{ object.date }} </td>
            </tr>
            <tr> 
                <td> Συνολικό ποσό πληρωμής </td> 
                <td> {{ object.payment_amount }} </td>
            </tr>
            <tr> 
                <td> Συνολικό ποσό πληρωμής ληξιπρόθεσμων οφειλών > 90 ημερών προς τρίτους </td> 
                <td> {{ object.payment_amount_to_third_persons }} </td>
            </tr>
            <tr> 
                <td> Εκ του οποίου συμψηφισμοί/παρακράτηση υπέρ Δημοσίου ή ΟΚΑ (€) </td> 
                <td> {{ object.setoff_payment_amount}} (€)</td>
            </tr>
           </tbody>
    </table>
</fieldset>
<form method="post">
    {% csrf_token %}
    <a href="{% url 'payment_list' register.pk account.pk debit.pk invoice.pk%}" class="btn btn-secondary"> Ακύρωση </a>
    <input type = "submit" value="Επιβεβαίωση" class="btn btn-danger">
</form>
{% endblock content %}

{% comment %} <a href="{% url 'professor_contract_update' object.id %}" class="btn btn-warning"> Επεξεργασία </a>
<div class="float-right"> {% endcomment %}
    {% comment %} <a href = "{% url 'school_assignment_list_view' object.id %}" class="btn btn-primary"> Υπηρετήσεις </a> {% endcomment %}
